/*****************************reset一下*****************************/
.col-sm-6{
	padding: 0px 10px 5px 10px;
}

/*****************************输入框*****************************/
.get {
	background-color: #1E5B94;
	background-image: url(../image/W020121008630169559312.jpg);
	background-position:center;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 70px 0;
}
.get-title {
	font-size: 200%;
	padding: 20px;
	display: inline-block;
	background-color: rgba(0,0,0,.5);
}
.get p{
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 200px;
	background-color: rgba(0,0,0,.5);
}
#searchText{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#myButton{
	padding: 0px 0px 20px;
}

/*****************************课程展示*****************************/
.myClasses {
	background: #FFCC00;
	color: #fff;
	text-align: center;
	padding: 30px 0;
}

/*****************************名人名言*****************************/
.hope {
	background: #0bb59b;
	padding: 50px 0;
}
.hope-img {
	text-align: center;
}
.hope-hr {
	border-color: #149C88;
}
.hope-title {
	font-size: 140%;
}

/*****************************底部*****************************/
.footer p {
	color: #7f8c8d;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	background: #2d3e50;
}